
<mat-card>
  <h1 style="text-align: center;">ANGULAR TRABAJO PRÁCTICO</h1>
  <mat-card-content>
<h1>Lista de productos</h1>
<button mat-raised-button="primary" (click)="lista()">Mostrar/Ocultar</button>
<div *ngIf="mostrarLista">
  <ul>
    <li *ngFor="let producto of productos">
      {{ producto.nombre }} - {{ producto.costo }}
    </li>
  </ul>
</div>
<button mat-raised-button ="primary" (click)="lista()">{{ mostrarLista ? 'Ocultar' : 'Mostrar' }}</button>

</mat-card-content>
</mat-card>



